body {
    background-color:#23526D;
}
header.main-header {
    
}
button {
    font: Georgia;
    font-size: 15px;
    margin: 300px 385px;
    border-radius: 6px;
    width: 300px;
    height: 85px;
    color: #03A9F4;
    border-color: #03A9F4;
    background: transparent;
    border: 1px solid #03A9F4;
    text-align: center;
    transition-duration: 0.1s;
    cursor: pointer;
    display: inline-block;
}
button:hover {
  background-color: #2090D4;
  color:white;
}
ul {
   list-style-type: none;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
}
li {
  float: left; 
}    
li a {
    display: block;   
    color: white;
    margin-top: 38px;
    margin-left: 12px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
  background-color: #03A9F4;
}
li a:active {
  background-color: #03A9F4;
}
div.intro-comet-hero {
    background-color: white;
    padding: 25px 12px;
}
.main-header {
    background-color: #3495BB;
}
